
rect {
    fill: teal;
    opacity: 0.6;
    stroke: black;
    transition: all 0.5s ease-in-out 0.5s;
}

rect:hover {
    stroke-width: 5px;
    stroke: orange;
    transition: all 0.1s ease-in;
}

.negative rect {
    fill: #E8AEB7;
}

.EBIT rect {
    fill: black;
}

.Pretax rect {
    fill: black;
}

.NetIncome rect {
    fill: black;
}

.initial {
    opacity: 0;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.final {
    opacity: 1;
    animation: fadein 4s; 
}

text {
    font-size: 1.3em;
}