
rect, path {
    fill: #4393c3;
    opacity: 0.7;
    transition: 0.3s ease-in-out 0.3s;
}

rect {
    stroke: #4393c3;
}

rect:hover {
    stroke-width: 6px;
    stroke: black;
    transition: all 0.1s ease-in;
}

.negative rect {
    fill: #d6604d;
    stroke: #d6604d;
}

.negative rect:hover {
    stroke-width: 6px;
    stroke: black;
    transition: all 0.1s ease-in;
}

.EBIT rect {
    fill: #C0C0C0;
    stroke: #C0C0C0;
}

.EBIT rect:hover {
    stroke-width: 6px;
    stroke: black;
    transition: all 0.1s ease-in;
}

.Pretax rect {
    fill: #C0C0C0;
    stroke: #C0C0C0;
}

.Pretax rect:hover {
    stroke-width: 6px;
    stroke: black;
    transition: all 0.1s ease-in;
}

.NetIncome rect {
    fill: #C0C0C0;
    stroke: #C0C0C0;
}

.NetIncome rect:hover {
    stroke-width: 6px;
    stroke: black;
    transition: all 0.1s ease-in;
}

.zero {
    stroke-width: 2px;
}

text {
    font-size: 1.3em;
    transition: 0.3s ease-in-out 0.3s;
}