#data-table {
    border-collapse: collapse;
    width: 25vw;
    overflow-y: auto;
    padding: 3px;
    font-size: 1.2em;
}

#data-table td, #data-table th {
    border-bottom: 2px solid #efefef;
    font-size: 1.1em;
}

#data-table tr:hover {background-color: #ddd;}

thead {
    font-size: 1.1em;
    padding: 20px;
}

#dataTable {
    padding-top: 2px;
    overflow-y: auto;
    height: 20vw;
    margin-left: 5px;
}

#data-table th {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: left;
}

#dataTable::-webkit-scrollbar {
    display:none;
}

.slide-enter-active {
    transition: all 0.4s ease;
}

.slide-leave-active {
    transition: all 0.4s ease;
}

.slide-enter, .slide-leave-to {
    transform: translateX(200px);
    transform: translateY(500px);
    opacity: 0;
}