#top {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    margin-left: 10px;
}

#logo {
    margin: 10px;
    flex-grow: 2;
}

.title {
    font-size: 1.3em;
    margin: 10px;
    flex-grow: 2;
    font-weight: bold;   
}



